/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.text{
    max-width: 450px; 
}
.slide_but{
	margin-top: 30px;}
.dots{
	bottom: 20%;
}


}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.main_nav ul{
		display: none;
		clear: both;
		width: 100%;
		margin-top:20px;

	}
	.menu_botton{
		float: none;
	}
	.soc_bottom{
		position: absolute;
		right: 40%;
	}
	.main_nav ul li{
		display: block;
		border: 2px solid #cecbd4;
		margin-top: 7px;
		z-index: 2;
		position: relative;
		background: rgba(142,120,130,0.9);
	}
	.slidershow-container{
		position: static;
		z-index: 1;
	}
	.next{
		right: 1%;
	}
	.prev{
		left: 1%;
	}
	.text{
		left: 7%;
		right: 7%;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.next,.prev{
		display: none;
	}
	.dots{
		bottom: 18%;
		
	}
	.text{
		left: 2%;
		right: 2%;
	}
	.dot{
		border: 2px white solid;
		background: #6c6280;
		margin: 3px;

	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.dots{
		bottom: 15%;
		margin: 4px;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

	.menu_button{
		display: none;
	}
	.main_nav ul{
		display: block !important;

	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {


 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}