*{
	margin: 0;
	padding: 0;
}

.wrapper{
	font-family: "Cornera-Regular", sans-serif;
	background: url(../img/background2.png) 100% 100% no-repeat,
	url(../img/background.png) 100% 100% no-repeat;
    background-size: cover;
    height: 100vh;
    opacity: 0.9;
}
header{
	margin: 0 15% 0 15%;
}
.logo{
	color: #e0e9f0;
	float: left;
	margin-top: 30px;
}


nav{
	clear:right;
	float: right;
	margin-top: 30px;
}
 li{
	display: inline-block;
	padding-right: 20px;
 }
 a {text-decoration: none;
 	color: #e0e9f0;}
 
