@font-face {
	font-family: 'Gotham Pro Regular';
	src: url('fonts/GothamPro.eot');
	src: url('fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
	url('fonts/GothamPro.woff') format('woff'),
	url('fonts/GothamPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DIN Pro Regular';
	src: url('fonts/DINPro.eot');
	src: url('fonts/DINPro.eot?#iefix') format('embedded-opentype'),
	url('fonts/DINPro.woff') format('woff'),
	url('fonts/DINPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}