*{
	margin: 0px;
	padding: 0px;
}

/******** header ***********/

.header{
	background-image: url(img/geometry.png);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	max-width: 100%;
	height: 100vh;
	padding: 2% 3%;
	animation: back 10s ease-out 0s infinite;
}
@keyframes back{
	0%     {background-image: url(img/geometry.jpg);}
	30%     {background-image: url(img/geometry.jpg);}

	31%     {background-image: url(img/back2.jpg);}
	67%     {background-image: url(img/back2.jpg);}

	68%     {background-image: url(img/back3.jpg);}
	100%     {background-image: url(img/back3.jpg);}
}
.header-top{
	display:flex;
	justify-content: space-between;
}
.header-top :first-child{
	padding-top: 15px;
	cursor:pointer;
}
.header-top :last-child{
	cursor:pointer;
}
.header-lang button{
	border:none;
	background: transparent;
	color:white;
	font-weight: bold;
	display: block;
	font-size: 12px;
	font-family: 'DIN Pro';
	margin-top: 30px;
	cursor: pointer;
}
.header-lang button:active{
	background-color: #191919;
	border: none;
}
.header-title{
	color: white;
	width: 491px;
	float: right;
	padding:260px 30px 30px 0 ;
}
.header-title :first-child{
	font-size: 17px;
	font-family: 'DIN Pro';
}
.header-title :last-child{
	font-size: 52px;
	font-family: 'Gotham Pro Regular';
	font-weight: bold;
}

/********* achivements ***********/

.achivements{
	background-image: url(img/pattern.png),
	url(img/line.png),
	url(img/slesh.png),
	url(img/dots.png);
	background-repeat: no-repeat;
	background-position: 30% 0%, center 18%, 98% 44%, 98% 70%;
	height: 1400px;
	margin-right: 10px;
	padding: 150px 0 0 155px;
	display: flex;
}
.achivement-photos div:nth-of-type(2){
	margin-left: 220px;
	margin-top: -130px;
}
.achivement-photos div:nth-of-type(2) img:hover{
	position: relative;
}
.achivement-photos div:first-child img:hover{
	position: relative;
}
.achivement-photos div img:hover{
	box-shadow: 3px 3px 30px #151515;
}
.achivement-photos div:last-child{
	margin-top: -130px;
}
.achivement-title{
	margin-left: -55px;
}
.achivement-title__item{
	margin: 120px 0 275px 0;
}
.achivement-title__item:nth-of-type(2){
	padding: 0 0 0px 170px;
}

.achivement-title__item :first-child{
	font-family: 'DIN Pro';
  	font-size: 12px;
  	font-weight: bold;
  	text-transform: uppercase;
}
.achivement-title__item span:nth-of-type(2){
	font-family: 'Gotham Pro Regular';
	font-weight: bold;
  	font-size: 70px;
}
.achivement-title__item :last-child{
	font-family: 'Gotham Pro Regular';
	font-weight: bold;
  	font-size: 22px;
}
/*********** characteristics********/

.characteristics{
	background-image: url(img/Ð.png);
	background-repeat: no-repeat;
	background-position: center 93%;
	padding: 0% 5% 4% 5%;
}
.characteristic-types{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.characteristic-types div{
	width: 260px;
}
.characteristic-types div :first-child{
	font-size: 24px;
	font-family: 'Gotham Pro Regular';
	font-weight: bold;
	padding: 10px 0 30px 0;
}
.characteristic-types div :last-child{
	font-size: 16px;
	font-family: 'DIN Pro';
	margin-top: 100px;
}
.characteristic-title{
	text-align: center;
	padding-top: 150px;
}
.characteristic-title p:first-of-type{
	margin-top: 50px;
	width: 574px;
	font-family: DINPro;
	font-size: 16px;
}
.characteristic-title-wrapper{
	display: flex;
	justify-content: center;
}
.characteristic-title :last-child{
	font-family: DINPro;
  	font-size: 12px;
  	font-weight: bold;
	margin-top: 50px;
}

/******** results ********/

.results{
	background-color:#191919;
	background-image: url(img/happy.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 4% 3%;
}
.result{
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-wrap: wrap-reverse;
}
.result div :first-child{
	font-family: 'Gotham Pro Regular';
  	font-size: 22px;
  	font-weight: 900;
  	width: 240px;
  	padding: 0 0 20px 0;
}
.result div :last-child{
	font-family: 'DIN Pro';
  	font-size: 16px;
  	font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 1.5;
  	letter-spacing: normal;
  	width: 406px;
}

/******** clients *********/

.clients{
	background-color: #191919;
	padding: 3%;
}
.clients > p{
	color: white;
	margin-left: auto;
	margin-right: auto;
	width: 137px;
}
.client{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	color: white;
	padding: 3% 2%;
}
.client div{
	padding-top: 30px;
}
.client div :nth-child(2){
	font-family: 'Gotham Pro Regular';
  	font-size: 24px;
  	font-weight: bold;
  	padding-top: 20px;
}
.client div :last-child{
	width: 244px;
	font-family: 'DIN Pro';
  	font-size: 16px;
  	padding-top: 17px;
}
.clients button{
	border: none;
	color: white;
	border-bottom: 1px white solid;
	background: transparent;
	text-transform: uppercase;
	font-family: 'DIN Pro';
  	font-size: 12px;
  	font-weight: bold;
  	padding: 20px 10px 20px 10px;
  	cursor: pointer;
}
.clients button:hover{
	border: 1px white solid;
}
.client-button{
	text-align: center;
	padding-top: 20px;
}
.second{
	display: none;
}
