/*SELECT YOUR DESIRED TONE*/
.two_sections_wrapper{
	padding: 1% 4% 4% 4%; 
	display: flex;
	justify-content: space-between;
}
.select_desired_wrapper{
	margin-top: 35px;
}
.background{
	border: 2px #dce0eb solid;
	border-radius: 5px;
	background-color: #f7f7fa;
	padding: 20px 30px 20px 30px;
	max-width: 150px;
	margin: 18px 0 0 78px;
	position: relative;
	z-index: 1;
	color: #6e768f;
	background-color: #f7f7fa;
}
.background span{
	font-size: 14px;
	padding-left: 5px;
}
input[name=varr]:checked + div{
	border: 3px solid #76a7e1;
	border-radius: 3px;
}
input[name=varr]:checked + div:after{
	font-family: "FontAwesome";
	content: "\f058";
	position: absolute;
	color: #76a7e1;
	font-size: 30px;	
	padding: 0;
	margin: 0;
	right: -8px;
	top:-8px;
	z-index: 2;
	background-color: white;
	border-radius: 40px;
}

/* -----Tell us how urgent this job -----*/


.urgent_job{
	margin-right: 100px;
}
.slidecontainer {
    width: 100%;
    margin: 60px  0 0 20px;
}

.slider {
    -webkit-appearance: none;
    width: 90%;
    height: 5px;
    background: #d3d3d3;
    outline: none;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    background: #edbe76;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 30px;
    background: #edbe76;
    cursor: pointer;
}
.names_ranges{
	padding-top: 15px;
	padding-left: 0px;
	color:  #92949f;
	width:400px;
	display:flex;
	justify-content: space-between;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
}
.names_ranges >.color,
.text_wrapper span strong{
	color: #edbe76;
	text-transform: uppercase;
	font-size: 13px;
}
.text_wrapper span:first-child{
	text-transform: uppercase;
	font-weight: bold;
	color:#727895;
	font-size: 15px;
}
.text_wrapper span:nth-child(3){
	color:#9da2ba;
	font-size: 14px;
	display: block;
	margin-top: 20px;
}
.timeline_info{
	max-width: 350px;
	border: 2px #dce0eb solid;
	border-radius: 5px;
	padding: 20px;
	margin-top: 40px;
}
.info_wrapper{
	display: flex;
}
.info_wrapper i{
	padding-right: 10px;
	font-size: 20px;
	color:#727895;
}
