 .wrapper_for_counter{
    counter-reset: p;
    background-color: white;
}

.wrapper_for_counter section p{
    counter-increment: p;;
}
.wrapper_for_counter section p::before {
    content: counter(p);
    border: 1px #6e768f solid;
    border-radius: 60px;
    color: #6e768f;
    padding: 10px 14px 10px 14px;
    font-weight: bold;
    font-size: 16px;
    width: 20px;
    height: 20px;
}
.container{
	display: flex;
	margin-top: auto;
	margin-bottom: auto;
}
.container h3{
	padding-left: 42px;
	margin-top: auto;
	margin-bottom: auto;
	color: #6e768f;
}
.container span{
	padding: 3px 0 0 10px;
	font-size: 14px;
	margin-top: auto;
	margin-bottom: auto;
	color: #6e768f;
}
.uplad_doc{
	padding: 0 4% 4% 4%; 
}
.file-upload{
	padding: 15px 23px 15px 30px;
	border: 2px #dce0eb solid;
	border-radius: 5px;
	margin: 40px 0 0 80px;
	background-color: #eceef4;
	display: block;
	max-width: 170px;
	color: #6e768f;
	cursor:pointer;
}
.file-upload span{
	font-size: 15px;
	padding-left: 10px;
	margin-left: auto;
	margin-right: auto;
}
.Inf_abot_file{
	font-size: 11.5px;
	padding: 15px 5px 15px 0px;
	text-align: left;
	color: #9098b8;
	border: 2px #dce0eb solid;
	border-radius: 5px;
	margin: 40px 0 0 80px; 
}
.Inf_abot_file th, .Inf_abot_file td{
	padding: 5px 35px;
}
.Inf_abot_file th{
	text-transform: uppercase;
	font-size: 11.5px;
}
.Inf_abot_file tr td:first-child{
	display: flex;
	max-width: 160px;
	font-size: 14px;
}
.Inf_abot_file tr td i{
	padding-right: 10px;
}
.Inf_abot_file tr td:last-child{
	display: flex;
	justify-content: center;
}
.Inf_abot_file tr td button{
	color: #6e768f;
	border: none;
	background-color: transparent;
	font-size: 16px;
}
.Inf_abot_file tr td input{
	max-width: 150px;
}

/*  CHOOSE YOUR LANGUAGE PAIRINGS*/

.Choose_lang{
	padding: 4%; 
}
.Choose_lang form{
	padding: 30px 80px;
}
.Choose_lang form label{
	color: #6e768f;
	text-transform: uppercase;
	padding: 10px;
	font-size: 12px;
	font-weight: bold;
	text-align: right;
	cursor: pointer;
}
.Choose_lang form .select_wrapper select {
	-webkit-appearance:none;
	-moz-appearance:none;
	border: 2px #dce0eb solid;
	border-radius: 5px;
	background-color: #f7f7fa;
	padding: 15px 45px 15px 30px;
	width: 180px;
	color: #6e768f;
	cursor: pointer;
}
.select_wrapper{
	position: relative;
	width: 250px;
}
.line_wrapper{
	display: flex;
	flex-wrap: wrap;
}
.select_wrapper:before{
	content:"";
	display: block;
	width: 2px;
	height: 100%;
	background-color: #dce0eb;
	position: absolute;
	right: 50px;
	z-index: 1;
}
.select_wrapper:after{
	font-family: "FontAwesome";
	content: "\f0d7";
	color: #6e768f;
	position: absolute;
	background-color: transparent;
	border-radius: 30px;	
	font-size: 14px;
	right: 25px;
	top:15px;
	z-index: 1;
	pointer-events: none;
}
.line_wrapper .select_wrapper {
	margin: 15px 5px 10px 21px;
	width: 230px;
}
.line_wrapper .select_wrapper:nth-child(2){
	width: 190px;
}

.line_wrapper .remove{
	border: none;
	background-color: transparent;
	color: #6e768f;
	padding: 0 25px 0 0px;
	cursor:pointer;
}
.line_wrapper .button-wrapper {
	display: flex;
}
.button-wrapper button{
	align-self: center;
	color: #6e768f;
	text-transform: uppercase;
	padding: 16px 15px 16px 15px;
	border: 2px #dce0eb solid;
	border-radius: 5px;
	background-color: #f7f7fa;
	cursor:pointer;
}
.button-wrapper button span{
	padding-left: 8px;
}

